<a href="https://colab.research.google.com/github/bdelacruz3/trackerScripts/blob/main/quandlSharadar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Datalink (Quandl)

In [187]:
!pip install Nasdaq-Data-Link

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Nasdaq-Data-Link in /usr/local/lib/python3.8/dist-packages (1.0.4)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.8/dist-packages (from Nasdaq-Data-Link) (2.25.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from Nasdaq-Data-Link) (2.8.2)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.8/dist-packages (from Nasdaq-Data-Link) (1.3.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.8/dist-packages (from Nasdaq-Data-Link) (9.0.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.8/dist-packages (from Nasdaq-Data-Link) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from Nasdaq-Data-Link) (1.15.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.8/dist-packages (from Nasdaq-Data-Link) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.14->Nasdaq-Data-Link) (2022.7.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->Nasdaq-Data-Link) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->Nasdaq-Data-Link) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->Nasdaq-Data-Link) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->Nasdaq-Data-Link) (2.10)

# Credentials

In [188]:
!pip install google-auth google-auth-oauthlib google-auth-httplib2 google-api-python-client pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-auth in /usr/local/lib/python3.8/dist-packages (2.16.1)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.8/dist-packages (0.4.6)
Requirement already satisfied: google-auth-httplib2 in /usr/local/lib/python3.8/dist-packages (0.1.0)
Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.8/dist-packages (1.6.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from google-auth) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth) (5.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib) (1.3.1)
Requirement already satisfied: httplib2>=0.15.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-httplib2) (0.17.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client) (3.0.1)
Requirement already satisfied: oauth2client<5.0.0dev,>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client) (4.1.3)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.8/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->google-api-python-client) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (2.25.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.2.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib) (2022.12.7)

In [189]:
!pip install gspread-dataframe

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gspread-dataframe in /usr/local/lib/python3.8/dist-packages (3.0.8)
Requirement already satisfied: pandas>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from gspread-dataframe) (1.3.5)
Requirement already satisfied: gspread>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from gspread-dataframe) (3.4.2)
Requirement already satisfied: google-auth in /usr/local/lib/python3.8/dist-packages (from gspread>=3.0.0->gspread-dataframe) (2.16.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from gspread>=3.0.0->gspread-dataframe) (2.25.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.14.0->gspread-dataframe) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.14.0->gspread-dataframe) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.14.0->gspread-dataframe) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.14.0->gspread-dataframe) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (1.24.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth->gspread>=3.0.0->gspread-dataframe) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth->gspread>=3.0.0->gspread-dataframe) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth->gspread>=3.0.0->gspread-dataframe) (4.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth->gspread>=3.0.0->gspread-dataframe) (0.4.8)

In [190]:
!pip install gspread

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gspread in /usr/local/lib/python3.8/dist-packages (3.4.2)
Requirement already satisfied: google-auth in /usr/local/lib/python3.8/dist-packages (from gspread) (2.16.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from gspread) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from google-auth->gspread) (1.15.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth->gspread) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth->gspread) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth->gspread) (4.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth->gspread) (0.4.8)

In [191]:
!pip install df2gspread

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: df2gspread in /usr/local/lib/python3.8/dist-packages (1.0.4)
Requirement already satisfied: gspread>=2.1.1 in /usr/local/lib/python3.8/dist-packages (from df2gspread) (3.4.2)
Collecting argparse>=1.3.0
  Using cached argparse-1.4.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from df2gspread) (1.3.5)
Requirement already satisfied: google-api-python-client==1.6.7 in /usr/local/lib/python3.8/dist-packages (from df2gspread) (1.6.7)
Requirement already satisfied: oauth2client<5.0.0dev,>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from df2gspread) (4.1.3)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client==1.6.7->df2gspread) (3.0.1)
Requirement already satisfied: httplib2<1dev,>=0.9.2 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client==1.6.7->df2gspread) (0.17.4)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.8/dist-packages (from google-api-python-client==1.6.7->df2gspread) (1.15.0)
Requirement already satisfied: google-auth in /usr/local/lib/python3.8/dist-packages (from gspread>=2.1.1->df2gspread) (2.16.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from gspread>=2.1.1->df2gspread) (2.25.1)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.8/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.8/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from oauth2client<5.0.0dev,>=1.5.0->df2gspread) (4.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->df2gspread) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->df2gspread) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->df2gspread) (2.8.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.2.1->gspread>=2.1.1->df2gspread) (1.24.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth->gspread>=2.1.1->df2gspread) (5.3.0)
Installing collected packages: argparse
Successfully installed argparse-1.4.0

# Import

In [192]:
from datetime import date
import nasdaqdatalink
nasdaqdatalink.ApiConfig.api_key = 'your_api_key'
import numpy as np
import pandas as pd
import df2gspread
import logging

# get data from quandl nasdaq datalink using a one year date range from today
date = date.today()
start_range = date
end_range = date.replace(year=date.year - 1)

# Get data (MRT)

In [193]:
# Get tables from sharadar using a one year interval with the dimension filter of the most recent twelve months (MRT)
nasdaqdatalink = nasdaqdatalink.get_table('SHARADAR/SF1', calendardate={'gte':end_range,'lte':start_range}, dimension='MRT', paginate=True)

In [194]:
nasdaqdatalink

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
None,,,,,,,,,,,,,,,,,,,,,
0,ZYXI,MRT,2022-09-30,2022-09-30,2022-09-30,2022-10-28,0.000000e+00,1.154350e+08,1.250812e+08,6.738200e+07,...,38406658.0,38046000.0,38865000.0,3.935,8.573800e+07,1483000.0,5556000.0,916000.0,2.254,4.761200e+07
1,ZYXI,MRT,2022-06-30,2022-06-30,2022-06-30,2022-10-28,0.000000e+00,1.195750e+08,1.189032e+08,7.063000e+07,...,39046098.0,38851000.0,39893000.0,3.681,8.964900e+07,1103000.0,5998000.0,160000.0,2.308,5.180700e+07
2,ZYXI,MRT,2022-03-31,2022-03-31,2022-03-31,2022-10-28,0.000000e+00,1.320410e+08,1.099340e+08,8.217600e+07,...,39784068.0,39765000.0,41188000.0,3.452,1.018890e+08,931000.0,6157000.0,3116000.0,2.562,5.980800e+07
3,ZYNE,MRT,2022-09-30,2022-09-30,2022-09-30,2022-11-15,0.000000e+00,6.236674e+07,7.123156e+07,6.080086e+07,...,45753079.0,43746878.0,43746878.0,0.000,6.236674e+07,2130553.0,0.0,0.0,1.426,5.136954e+07
4,ZYNE,MRT,2022-06-30,2022-06-30,2022-06-30,2022-11-15,0.000000e+00,6.700696e+07,7.813892e+07,6.567170e+07,...,43595959.0,41406803.0,41406803.0,0.000,6.700696e+07,2035073.0,0.0,0.0,1.618,5.614403e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20023,AA,MRT,2022-06-30,2022-06-30,2022-06-30,2023-02-24,-4.255000e+09,1.570900e+10,1.522975e+10,5.863000e+09,...,184448686.0,184448686.0,NaN,72.573,1.570900e+10,445000000.0,869000000.0,547000000.0,85.167,2.627000e+09
20024,AA,MRT,2022-03-31,2022-03-31,2022-03-31,2023-02-24,-5.074000e+09,1.598800e+10,1.491200e+10,5.598000e+09,...,185403032.0,185403032.0,NaN,67.825,1.598800e+10,667000000.0,746000000.0,550000000.0,86.234,2.132000e+09
20025,A,MRT,2022-09-30,2022-10-31,2022-10-31,2022-12-21,-3.470000e+08,1.053200e+10,1.044950e+10,3.778000e+09,...,296040570.0,299000000.0,300000000.0,22.903,5.759000e+09,0.0,250000000.0,0.0,19.261,1.917000e+09
20026,A,MRT,2022-06-30,2022-07-31,2022-07-31,2022-12-21,-3.620000e+08,1.048400e+10,1.049275e+10,3.690000e+09,...,298708056.0,298000000.0,299000000.0,22.346,5.687000e+09,0.0,169000000.0,0.0,19.084,1.788000e+09
20027,A,MRT,2022-03-31,2022-04-30,2022-04-30,2022-12-21,-3.330000e+08,1.045500e+10,1.049450e+10,3.643000e+09,...,300113377.0,299000000.0,301000000.0,21.829,5.601000e+09,0.0,164000000.0,0.0,18.732,1.830000e+09

In [392]:
from pandas.io.formats.format import stringify_path
from numpy.core.fromnumeric import shape
# Create a dataframe
df = pd.DataFrame(nasdaqdatalink)


# Only select the columns that are needed (ticker, dimension, revenueusd, datekey, sharesbas	,ebitdausd,	ev,	dps,	cashnequsd,	debtusd,	debtc,	epsusd,	bvps,	tbvps,	intexp,	ebitusd,	ncfo,	ncfi,	ncff,	capex,	assetsc,	investmentsc,	inventory,	receivables,	liabilitiesc,	liabilitiesnc,	liabilities,	assetsnc,	assets,	retearn,	intangibles,	grossmargin,	netmargin,	ebitdamargin)
df = df[['ticker', 'dimension', 'revenueusd', 'datekey', 'sharesbas', 'ebitdausd', 'ev', 'dps', 'cashnequsd', 'debtusd', 'debtc', 'epsusd', 'bvps', 'tbvps', 'intexp', 'ebitusd', 'ncfo', 'ncfi', 'ncff', 'capex', 'assetsc', 'investmentsc', 'inventory', 'receivables', 'liabilitiesc', 'liabilitiesnc', 'liabilities', 'assetsnc', 'assets', 'retearn', 'intangibles', 'grossmargin', 'netmargin', 'ebitdamargin']]



df

,ticker,dimension,revenueusd,datekey,sharesbas,ebitdausd,ev,dps,cashnequsd,debtusd,...,liabilitiesc,liabilitiesnc,liabilities,assetsnc,assets,retearn,intangibles,grossmargin,netmargin,ebitdamargin
None,,,,,,,,,,,,,,,,,,,,,
0,ZYXI,MRT,1.497280e+08,2022-09-30,38406658.0,2.850900e+07,3.518704e+08,0.100,2.412300e+07,2.918000e+07,...,1.977000e+07,3.047800e+07,5.024800e+07,4.805300e+07,1.154350e+08,9596000.0,2.969700e+07,0.800,0.123,0.190
1,ZYXI,MRT,1.429940e+08,2022-06-30,39046098.0,2.990100e+07,3.048939e+08,0.100,2.746800e+07,3.099000e+07,...,1.882300e+07,3.174300e+07,5.056600e+07,4.894500e+07,1.195750e+08,4723000.0,2.992600e+07,0.801,0.138,0.209
2,ZYXI,MRT,1.372570e+08,2022-03-31,39784068.0,2.952100e+07,2.397457e+08,0.100,3.983200e+07,3.313800e+07,...,2.236800e+07,3.385500e+07,5.622300e+07,4.986500e+07,1.320410e+08,1377000.0,3.015200e+07,0.793,0.140,0.215
3,ZYNE,MRT,0.000000e+00,2022-09-30,45753079.0,-3.560702e+07,-2.854900e+07,0.000,5.593449e+07,3.921000e+05,...,9.431312e+06,1.786720e+05,9.609984e+06,1.565883e+06,6.236674e+07,-266501253.0,0.000000e+00,NaN,NaN,NaN
4,ZYNE,MRT,0.000000e+00,2022-06-30,43595959.0,-3.750242e+07,-1.949221e+07,0.000,6.248964e+07,4.493790e+05,...,9.527672e+06,2.374140e+05,9.765086e+06,1.335258e+06,6.700696e+07,-257825104.0,0.000000e+00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20023,AA,MRT,1.338600e+10,2022-06-30,184448686.0,2.615000e+09,8.581171e+09,0.300,1.638000e+09,1.726000e+09,...,3.236000e+09,5.181000e+09,8.417000e+09,9.846000e+09,1.570900e+10,606000000.0,0.000000e+00,0.279,0.072,0.195
20024,AA,MRT,1.257500e+10,2022-03-31,185403032.0,2.289000e+09,1.660483e+10,0.200,1.554000e+09,1.728000e+09,...,3.466000e+09,6.265000e+09,9.731000e+09,1.039000e+10,1.598800e+10,114000000.0,0.000000e+00,0.281,0.057,0.182
20025,A,MRT,6.848000e+09,2022-10-31,296040570.0,1.905000e+09,4.279821e+10,0.840,1.053000e+09,2.769000e+09,...,1.861000e+09,3.366000e+09,5.227000e+09,6.754000e+09,1.053200e+10,324000000.0,4.773000e+09,0.544,0.183,0.278
20026,A,MRT,6.659000e+09,2022-07-31,298708056.0,1.907000e+09,4.177575e+10,0.824,1.071000e+09,2.912000e+09,...,1.902000e+09,3.491000e+09,5.393000e+09,6.794000e+09,1.048400e+10,139000000.0,4.797000e+09,0.542,0.199,0.286
20027,A,MRT,6.527000e+09,2022-04-30,300113377.0,1.843000e+09,3.741152e+10,0.808,1.186000e+09,2.905000e+09,...,1.813000e+09,3.520000e+09,5.333000e+09,6.812000e+09,1.045500e+10,160000000.0,4.854000e+09,0.540,0.194,0.282

In [393]:
# Remove duplicate rows for the same ticker. Keep only the most recent datekey
df_deduped = df.sort_values(by=['ticker'], ascending=False).groupby('ticker').head(1)

In [394]:
# Convert column 'datekey' to a string
df_deduped['datekey'] = df_deduped['datekey'].astype(str)

In [395]:
# Keep header of df_deduped dataframe
header = df_deduped.columns.values.tolist()

In [396]:
# Output is a dataframe as oppose to a table or list
df_deduped

,ticker,dimension,revenueusd,datekey,sharesbas,ebitdausd,ev,dps,cashnequsd,debtusd,...,liabilitiesc,liabilitiesnc,liabilities,assetsnc,assets,retearn,intangibles,grossmargin,netmargin,ebitdamargin
None,,,,,,,,,,,,,,,,,,,,,
0,ZYXI,MRT,1.497280e+08,2022-09-30,38406658.0,2.850900e+07,3.518704e+08,0.10,2.412300e+07,2.918000e+07,...,1.977000e+07,3.047800e+07,5.024800e+07,4.805300e+07,1.154350e+08,9.596000e+06,2.969700e+07,0.800,0.123,0.190
3,ZYNE,MRT,0.000000e+00,2022-09-30,45753079.0,-3.560702e+07,-2.854900e+07,0.00,5.593449e+07,3.921000e+05,...,9.431312e+06,1.786720e+05,9.609984e+06,1.565883e+06,6.236674e+07,-2.665013e+08,0.000000e+00,NaN,NaN,NaN
6,ZYME,MRT,2.985900e+07,2022-09-30,57892785.0,-2.145870e+08,1.892866e+08,0.00,9.608200e+07,2.993900e+07,...,5.770600e+07,6.279900e+07,1.205050e+08,1.096070e+08,3.002630e+08,-8.681940e+08,2.103700e+07,1.000,-7.510,-7.187
9,ZY,MRT,1.454600e+07,2022-06-30,103140755.0,-3.107690e+08,1.736113e+07,0.00,2.265710e+08,1.860810e+08,...,5.219600e+07,1.821490e+08,2.343450e+08,2.313270e+08,4.709680e+08,-1.324109e+09,7.380000e+06,-2.365,-25.089,-21.365
11,ZWS,MRT,1.281800e+09,2022-12-31,177794600.0,1.699000e+08,4.276656e+09,0.20,1.248000e+08,5.701000e+08,...,2.893000e+08,9.597000e+08,1.249000e+09,2.106500e+09,2.864000e+09,-1.164900e+09,1.786700e+09,0.363,0.048,0.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20011,AACI,MRT,0.000000e+00,2022-12-31,20709500.0,-5.736010e+05,2.096543e+08,0.00,3.632470e+05,2.201754e+06,...,5.969584e+06,1.530282e+08,1.589978e+08,1.536346e+08,1.540041e+08,-5.964009e+06,0.000000e+00,NaN,NaN,NaN
20015,AACG,MRT,2.789515e+07,2022-09-30,63247176.0,NaN,5.054996e+07,0.00,8.313624e+06,4.421196e+06,...,2.986752e+08,3.115498e+07,3.298302e+08,4.060493e+08,4.723291e+08,-3.600661e+08,2.751827e+08,0.500,-0.261,NaN
20020,AAC,MRT,0.000000e+00,2022-03-31,125000000.0,1.253172e+07,1.225500e+09,0.00,4.913620e+05,1.000000e+06,...,3.563683e+06,4.955837e+07,5.312205e+07,1.000615e+09,1.001528e+09,-5.159651e+07,0.000000e+00,NaN,NaN,NaN
20021,AA,MRT,1.245100e+10,2022-12-31,176937165.0,1.264000e+09,8.339333e+09,0.40,1.363000e+09,1.807000e+09,...,3.004000e+09,5.163000e+09,8.167000e+09,9.506000e+09,1.475600e+10,-5.700000e+08,0.000000e+00,0.180,-0.010,0.102
20025,A,MRT,6.848000e+09,2022-10-31,296040570.0,1.905000e+09,4.279821e+10,0.84,1.053000e+09,2.769000e+09,...,1.861000e+09,3.366000e+09,5.227000e+09,6.754000e+09,1.053200e+10,3.240000e+08,4.773000e+09,0.544,0.183,0.278

In [397]:
# Replace all NaN values with 0
df_deduped.fillna(0, inplace=True)

In [398]:
df_deduped

,ticker,dimension,revenueusd,datekey,sharesbas,ebitdausd,ev,dps,cashnequsd,debtusd,...,liabilitiesc,liabilitiesnc,liabilities,assetsnc,assets,retearn,intangibles,grossmargin,netmargin,ebitdamargin
None,,,,,,,,,,,,,,,,,,,,,
0,ZYXI,MRT,1.497280e+08,2022-09-30,38406658.0,2.850900e+07,3.518704e+08,0.10,2.412300e+07,2.918000e+07,...,1.977000e+07,3.047800e+07,5.024800e+07,4.805300e+07,1.154350e+08,9.596000e+06,2.969700e+07,0.800,0.123,0.190
3,ZYNE,MRT,0.000000e+00,2022-09-30,45753079.0,-3.560702e+07,-2.854900e+07,0.00,5.593449e+07,3.921000e+05,...,9.431312e+06,1.786720e+05,9.609984e+06,1.565883e+06,6.236674e+07,-2.665013e+08,0.000000e+00,0.000,0.000,0.000
6,ZYME,MRT,2.985900e+07,2022-09-30,57892785.0,-2.145870e+08,1.892866e+08,0.00,9.608200e+07,2.993900e+07,...,5.770600e+07,6.279900e+07,1.205050e+08,1.096070e+08,3.002630e+08,-8.681940e+08,2.103700e+07,1.000,-7.510,-7.187
9,ZY,MRT,1.454600e+07,2022-06-30,103140755.0,-3.107690e+08,1.736113e+07,0.00,2.265710e+08,1.860810e+08,...,5.219600e+07,1.821490e+08,2.343450e+08,2.313270e+08,4.709680e+08,-1.324109e+09,7.380000e+06,-2.365,-25.089,-21.365
11,ZWS,MRT,1.281800e+09,2022-12-31,177794600.0,1.699000e+08,4.276656e+09,0.20,1.248000e+08,5.701000e+08,...,2.893000e+08,9.597000e+08,1.249000e+09,2.106500e+09,2.864000e+09,-1.164900e+09,1.786700e+09,0.363,0.048,0.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20011,AACI,MRT,0.000000e+00,2022-12-31,20709500.0,-5.736010e+05,2.096543e+08,0.00,3.632470e+05,2.201754e+06,...,5.969584e+06,1.530282e+08,1.589978e+08,1.536346e+08,1.540041e+08,-5.964009e+06,0.000000e+00,0.000,0.000,0.000
20015,AACG,MRT,2.789515e+07,2022-09-30,63247176.0,0.000000e+00,5.054996e+07,0.00,8.313624e+06,4.421196e+06,...,2.986752e+08,3.115498e+07,3.298302e+08,4.060493e+08,4.723291e+08,-3.600661e+08,2.751827e+08,0.500,-0.261,0.000
20020,AAC,MRT,0.000000e+00,2022-03-31,125000000.0,1.253172e+07,1.225500e+09,0.00,4.913620e+05,1.000000e+06,...,3.563683e+06,4.955837e+07,5.312205e+07,1.000615e+09,1.001528e+09,-5.159651e+07,0.000000e+00,0.000,0.000,0.000
20021,AA,MRT,1.245100e+10,2022-12-31,176937165.0,1.264000e+09,8.339333e+09,0.40,1.363000e+09,1.807000e+09,...,3.004000e+09,5.163000e+09,8.167000e+09,9.506000e+09,1.475600e+10,-5.700000e+08,0.000000e+00,0.180,-0.010,0.102
20025,A,MRT,6.848000e+09,2022-10-31,296040570.0,1.905000e+09,4.279821e+10,0.84,1.053000e+09,2.769000e+09,...,1.861000e+09,3.366000e+09,5.227000e+09,6.754000e+09,1.053200e+10,3.240000e+08,4.773000e+09,0.544,0.183,0.278

In [399]:
# Convert the df_deduped dataframe to a list
df_deduped = df_deduped.values.tolist()

In [400]:
print(header)

['ticker', 'dimension', 'revenueusd', 'datekey', 'sharesbas', 'ebitdausd', 'ev', 'dps', 'cashnequsd', 'debtusd', 'debtc', 'epsusd', 'bvps', 'tbvps', 'intexp', 'ebitusd', 'ncfo', 'ncfi', 'ncff', 'capex', 'assetsc', 'investmentsc', 'inventory', 'receivables', 'liabilitiesc', 'liabilitiesnc', 'liabilities', 'assetsnc', 'assets', 'retearn', 'intangibles', 'grossmargin', 'netmargin', 'ebitdamargin']

In [401]:
# get information about the about the new list of lists
print(len(df_deduped))

6308

In [402]:
from os import sep
from google.colab import auth
auth.authenticate_user()
import numpy as np
import gspread
import df2gspread as d2g
from google.auth import default

creds, _ = default()
gc = gspread.authorize(creds)

# Authenticate and create a client
auth.authenticate_user()


print('Warming up ...')

# here lie random settings you can update
verbose = False # update to True if you want a detailed description of what your script is doing

Warming up ...

In [403]:
# Create a new Google Sheets document
doc = gc.open('MRT Deduped')

In [404]:

# Clear the existing values in the worksheet (optional)
worksheet.clear()

{'spreadsheetId': '1N3-IDSWekPBzksLEGQ_GBRm2jpKYQ8DyJ2zYDcmECy0',
 'clearedRange': 'Sheet1!A1:BL6309'}

In [405]:
# Select the first sheet of the new document
worksheet = doc.get_worksheet(0)

In [406]:
print([df_deduped][0][0:5])
worksheet.update('a1',[header]+[df_deduped][0])

[['ZYXI', 'MRT', 149728000.0, '2022-09-30', 38406658.0, 28509000.0, 351870388.0, 0.1, 24123000.0, 29180000.0, 8402000.0, 0.482, 1.713, 2.254, 368000.0, 24414000.0, 16527000.0, -16518000.0, -11845000.0, -521000.0, 67382000.0, 0.0, 14366000.0, 28350000.0, 19770000.0, 30478000.0, 50248000.0, 48053000.0, 115435000.0, 9596000.0, 29697000.0, 0.8, 0.123, 0.19], ['ZYNE', 'MRT', 0.0, '2022-09-30', 45753079.0, -35607025.0, -28549002.0, 0.0, 55934491.0, 392100.0, 213428.0, -0.87, 1.206, 1.426, 0.0, -35834840.0, -25175997.0, -146705.0, 5614695.0, -146705.0, 60800855.0, 0.0, 0.0, 0.0, 9431312.0, 178672.0, 9609984.0, 1565883.0, 62366738.0, -266501253.0, 0.0, 0.0, 0.0, 0.0], ['ZYME', 'MRT', 29859000.0, '2022-09-30', 57892785.0, -214587000.0, 189286628.0, 0.0, 96082000.0, 29939000.0, 4605000.0, -3.63, 2.704, 4.2, 0.0, -225725000.0, -233760000.0, -33641000.0, 109648000.0, -12585000.0, 190656000.0, 70160000.0, 0.0, 6728000.0, 57706000.0, 62799000.0, 120505000.0, 109607000.0, 300263000.0, -868194000.0, 21037000.0, 1.0, -7.51, -7.187], ['ZY', 'MRT', 14546000.0, '2022-06-30', 103140755.0, -310769000.0, 17361129.0, 0.0, 226571000.0, 186081000.0, 7900000.0, -3.27, 2.287, 4.48, 26634000.0, -338273000.0, -234936000.0, -26736000.0, -98779000.0, -26736000.0, 239641000.0, 0.0, 6107000.0, 3696000.0, 52196000.0, 182149000.0, 234345000.0, 231327000.0, 470968000.0, -1324109000.0, 7380000.0, -2.365, -25.089, -21.365], ['ZWS', 'MRT', 1281800000.0, '2022-12-31', 177794600.0, 169900000.0, 4276655790.0, 0.2, 124800000.0, 570100000.0, 5700000.0, 0.41, 10.654, 7.107, 26900000.0, 115400000.0, 97000000.0, -6600000.0, -61100000.0, -6300000.0, 757500000.0, 0.0, 366700000.0, 219700000.0, 289300000.0, 959700000.0, 1249000000.0, 2106500000.0, 2864000000.0, -1164900000.0, 1786700000.0, 0.363, 0.048, 0.133]]

{'spreadsheetId': '1N3-IDSWekPBzksLEGQ_GBRm2jpKYQ8DyJ2zYDcmECy0',
 'updatedRange': 'Sheet1!A1:AH6309',
 'updatedRows': 6309,
 'updatedColumns': 34,
 'updatedCells': 214506}

In [407]:
print('done son')

done son